<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Filme</title>
</head>
<body style="margin: 10px">
<h1>Deseja Adicionar um Filme?</h1>
<form th:object="${filme}" method="post" th:action="@{/filme/novo}">
    <label for="titulo" class="form-label">Titulo:</label>
    <input type="text" class="form-control" style="width: 700px; margin: 10px" id="titulo" name="titulo" required th:field="*{titulo}"/>
    <br>
    <label for="genero" class="form-label">Genero:</label>
    <input type="text"  class="form-control" style="width: 700px; margin: 10px" id="genero" name="genero" th:field="*{genero}"/>
    <br>
    <label for="duracao" class="form-label">Duração:</label>
    <input type="text" class="form-control" style="width: 700px; margin: 10px" id="duracao" name="duracao" th:field="*{duracao}"/>
    <br>
    <label for="sinopse" class="form-label">Sinopse:</label>
    <input type="text" class="form-control" style="width: 700px; margin: 10px" id="sinopse" name="sinopse" th:field="*{sinopse}"/>
    <br>
    <label for="imagem" class="form-label">Imagem:</label>
    <input type="text"  class="form-control" style="width: 700px; margin: 10px" id="imagem" name="imagem" th:field="*{imagem}"/>
    <br>
    <button type="submit">Salvar</button>
    <a th:href="@{/}">Cancelar</a>
</form>
</body>
</html>