<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>AdaPlus+</title>
</head>
<body style="margin: 10px">
<h1 style="text-align: center">AdaPlus+</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(Página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/filme}">| Todos os Filmes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/noticia}">| Todas as Notícias</a>
            </li>
        </ul>
    </div>
</nav>
<section >
    <h2>Notícias</h2>

    <div class="card-deck" style="width: 25rem;">
        <div class="card" th:each="noticia : ${noticias}">
            <img class="card-img-top" style="max-height:200px;" th:src="${noticia.imagem}" alt="Imagem da noticia">
            <div class="card-body">
                <h5 th:text="${noticia.titulo}" class="card-title"></h5>
                <p class="card-text" th:text="'Descrição: ' + ${noticia.descricao}" ></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="'Autor: ' + ${noticia.autor}"></li>
            </ul>
            <div class="card-body" style="display: flex">
                <a th:href="@{/noticia/editar/{id}(id=${noticia.id})}" class="card-link"><i style="font-size: 22px" class="material-icons">edit</i></a>
                <a th:href="@{/noticia/remover/{id}(id=${noticia.id})}" class="card-link" onclick="return confirm('Tem certeza que deseja excluir esta noticia?')"><i style="font-size: 22px; color: darkred" class="material-icons">delete</i></a>
                <a th:href="@{/noticia/buscar/{id}(id=${noticia.id})}" class="card-link"> Ver notícia</a>
            </div>
            </div>
    </div>
    <br>
    <a th:href="@{/noticia/novo}" class="btn btn-danger" role="button">Adicionar nova notícia</a>
</section>

</body>
</html>