<!DOCTYPE html>
<html th:lang="br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Notícia</title>
</head>
<body style="margin: 10px">
<h1>Deseja Adicionar uma Notícia?</h1>
<form th:object="${noticia}" method="post" th:action="@{/noticia/novo}">
    <label for="titulo" class="form-label">Titulo:</label>
    <input type="text" class="form-control" style="width: 700px; margin: 10px" id="titulo" name="titulo" th:field="*{titulo}"/>
    <br>
    <label for="autor" class="form-label">Autor:</label>
    <input type="text" class="form-control" style="width: 700px; margin: 10px" id="autor" name="autor" th:field="*{autor}"/>
    <br>
    <label for="descricao" class="form-label">Descrição:</label>
    <input type="text" class="form-control" style="width: 700px; margin: 10px" id="descricao" name="descricao" th:field="*{descricao}"/>
    <br>
    <label for="imagem" class="form-label">Imagem:</label>
    <input type="text" class="form-control" style="width: 700px; margin: 10px" id="imagem" name="imagem" th:field="*{imagem}"/>
    <br>
    <button type="submit">Salvar</button>
    <a th:href="@{/noticia}">Cancelar</a>
</form>
</body>
</html>